.header{
  width: 100%;
  height: 921.52px;
   background: linear-gradient(to right, #461096,#7F3CE0);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.top-header{
  display: flex;
  align-items: center;
  padding-top: 44px;
  padding-left: 230px;
}

.nav-list{
  display: flex;
  gap: 40px;
  padding-left: 282px;
}

.nav a{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
}

.navigation{
  display: flex;
  align-items: center;
}

.button{
  margin-left: 60px;
  width: 160px;
  height: 59px;
  background-color: #42B4EE;
  color: white;
}

.paragraph{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: 0%;
}
.pdiv{
  width: 498px;
}
.text{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.sdiv{
  width: 435px;
}
.btn{
  width: 216px;
  height: 62px;
  background-color: #42B4EE;
  color: white;
}
.bottom-header{
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 gap: 35px;
 justify-content: center;
 padding-left: 230px;
}
 
.main{
  display: flex;
  align-items: center;
  gap: 195px;
  padding-top: 245px;
  padding-left: 117px;
}

.p{
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  padding-bottom: 50px;
}

.title{
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  padding-bottom: 10px;
}

.span{
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.title-row{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 30px;
}

.section-first{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

.h1{
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  padding-bottom: 30px;
}

.span2{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.person-div{
  width: 360px;
  border: 1px solid #5B1FB0;
  border-radius: 16px;
  padding: 60px 70px 155px 60px;
  background-color: #FFFFFF;
  margin-left: 230px;

}

.align{
  display: flex;
  align-items: center;
  gap: 30;
  padding-top: 60px;
}

.h2{
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}

.inter{
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
}

.manager{
   display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 30px;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 166px;
}


.news{
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  padding-bottom: 60px;
}

.footer-header{
 text-align: center; 
}

.footer-content{
  width: 555px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}

.list{
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #051114;
 
}

.listbox{
  margin: 30px;
  display: flex;
 
}

.content-text{
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  padding: 15px;
}

.description{
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  
}

.bttn{
 background-color: #42B4EE;
 width: 106px;
 height: 42px;
 margin-top: 25px;
}

